<div class="container">
  <div class="row">
    <h1> <%=current_user.first_name %>'s Apps </h1>
    <% @reg_app.each do |app| %>
    <hr/>
    <%= link_to app.name, app %>
    -> <%= link_to "Cancel App", app, method: :delete, class:'btn-sm btn-danger', confirm: {data: "Are you sure you want to unregister this app?"} %>
    <% end %>
  </div>
</div>
